html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
li {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

body {
	min-width: 320px;
	overflow-x: hidden;
	font-family: "Roboto-Regular", "Arial", "sans-serif";
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	@extend %bg-gradient;
}

.title {
	font-family: "Medium", "Arial", "sans-serif";
	font-weight: 500;
	font-size: 24px;

	text-align: center;
	padding-bottom: 15px;
}
